<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="static/js/admin.js">
      <!-- responsive-->
</head>
<body>
<!-- <a href="/event_notification/">Add event Notifications</a> <br>
<a href="/sent_notes/">Sent Notes</a><br>
<a href="/login/">Logout</a>
<a href="/">Index Page</a> -->

<div class="sidebar">
    
    <ul class="side-menu">
      <li class="active">
        <a href="/event_notification/"><i class="bx bx-video"></i>Add Event Notifications</a>
      </li>
      <li>
        <a href="/sent_notes/"><i class="bx bx-video"></i>Sent Notes</a>
      </li>
      <li>
        <a href="/admin_home/"><i class="bx bx-bar-chart"></i>Home Page</a>
      </li>
    <div class="side-menu">
      <ul>
        
        <li>
          <a href="/login/" class="logout"
          onclick="return confirm('Are You Sure You Want To Logout')"
            ><i class="bx bx-log-out-circle"></i>Logout</a
          >
        </li>
      </ul>
    </div>
  </div>